<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cronofy Developer Demo</title>

    <link href="/app.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper__outer">
        <div class="wrapper__inner">

            <h1>Settings</h1>
            <p>Connect calendar profiles, and set your working hours.</p>

            <div class="element__wrapper">
                <div id="cronofy-calendar-sync"></div>
            </div>

            <div>
                <button onclick="location.href ='/availability';" id="actionButton" disabled  class="button">View availability</a>
            </div>


            <hr>

            <h2 class="title-heading">Your Calendar</h2>

            <div id="cronofy-availability-rules"></div>

        </div>

        <script src="https://elements.cronofy.com/js/CronofyElements.v1.56.2.js"></script>
        <script>
            const actionButton = document.getElementById('actionButton');
             if ("<%= element_token %>" !== "invalid" ) {
                actionButton.disabled = false;
                CronofyElements.CalendarSync({
                element_token: "<%= element_token %>",
                data_center: "<%= data_center %>",
                target_id: "cronofy-calendar-sync",
                authorization: {
                    redirect_uri: "https://cronofy.onrender.com/",//"http://localhost:7070/",
                    client_id: "<%= client_id %>",
                    scope: "read_write"
                     }
                 });
             }else{
                CronofyElements.CalendarSync({
                //element_token: "<%= element_token %>",
                data_center: "<%= data_center %>",
                target_id: "cronofy-calendar-sync",
                authorization: {
                    redirect_uri: "https://cronofy.onrender.com/",//"http://localhost:7070/",
                    client_id: "<%= client_id %>",
                    scope: "read_write"
                }
                 });
                
                    }


            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            
            if ("<%= element_token %>" !== "invalid") {
                CronofyElements.Agenda({
                    element_token: "<%= element_token %>",
                    data_center: "<%= data_center %>",
                    target_id: "cronofy-availability-rules",
                    //availability_rule_id: "work_hours",
                    tzid: timezone,
                    styles: {
                         colors: {
                         calendars: ["#6c25be", "#ffdc00"]
                        }},
                   locale: "fr",
                });
            } 
        </script>

     
    </div>
</body>
</html>
